<script context="module">
  import { getClient } from 'svelte-apollo';

  import { gql } from 'apollo-boost';

  const GET_MEMBER = gql`
    query Member($id: ID!) {
      user (id: $id) {
        id
        name
        clubs {
          id
          name
        }
        owned_clubs {
          id
          name
        }
        created_at
        updated_at
      }
    }
  `;

  let id;

  export async function preload(page, session) {
   // const client = getClient();
    id = page.params.id;

    // return {
    //   cache: await client.query({
    //     query: GET_MEMBER,
    //     variables: {id}
    //   })
    // }
  }
</script>

<script>
  import { query } from "svelte-apollo";
  const client = getClient();
  const member = query(client, { query: GET_MEMBER, variables: {id} });
  
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}
</style>
<svelte:head>
	<title>Member Profile</title>
</svelte:head>

{#await $member}
  loading
{:then response}
{#if response.data.user}
{@debug response}
<h1>{member.name}</h1>

<div class='content'>
	{@html member.description}
</div>
{/if}
{/await}