<script context="module">
  import { getClient } from 'svelte-apollo'; 
  import { gql } from 'apollo-boost';

  const GET_CLUB = gql`
    query Club($id: ID!) {
      club (id: $id) {
        id
				name
				description
        owner {
          id
          name
        }
      }
    }
  `;

  export async function preload(page, session) {
	  //const client = getClient();
     const id = page.params.id;
return {id}
    // return {
    //   cache: await client.query({
    //     query: GET_CLUB,
    //     variables: {id}
    //   })
    // }
  }
</script>

<script>
	import { query } from 'svelte-apollo'; 
	
	export let id;

	const client = getClient();
  const club = query(client, { query: GET_CLUB, variables: {id} });
  
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}
	h6 { display: inline-block}
</style>
<svelte:head>
	<title>Club Page</title>
</svelte:head>

{#await $club}
  loading
{:then response}
{#if response.data.club}

<h1>{response.data.club.name}</h1><h6><small>by <a href="/member/{response.data.club.owner.id}/">{response.data.club.owner.name}</a></small></h6>

<div class='content'>
	{@html response.data.club.description}
</div>
{/if}
{/await}