<script context="module">
  import { getClient } from 'svelte-apollo'; 
  import { gql } from 'apollo-boost';

  const GET_CLUBS = gql`
    query {
      clubs {
        id
        name
        owner {
          id
          name
        }
      }
    }
  `;

  export async function preload() {
    // const client = getClient();
    // return {
    //   cache: await client.query({
    //     query: GET_CLUBS
    //   })
    // }
  }
</script>

<script>
  import { query } from "svelte-apollo";
  const client = getClient();
  const clubs = query(client, { query: GET_CLUBS });
  
</script>
<ul>
{#await $clubs}
  loading
{:then response}
{#if response.data.clubs}
   {#each response.data.clubs as club (club.id)}
    <li><a rel=prefetch href="/clubs/{club.id}/">{club.name}</a> - {club.owner.name}</li>
  {/each}
{/if}
{/await}
</ul>