<script context="module">
	import { client } from '../data';
	import { gql } from 'apollo-boost';

	const EVERYTHING = gql`
		query {
			blogposts {
				title
				id
				author {
					id
					name
				}
			}
			clubs {
				id
				description
				name
				owner {
					id
					name
				}
				events {
					id
					published
				}
			}
		}
	`;
	
	export async function preload() {
		return {
			cache: await client.query({
				query: EVERYTHING
			})
		}
	}
</script>

<script>
	import { setClient, restore } from 'svelte-apollo';
	import { stores } from '@sapper/app';
	import Nav from '../components/Nav.svelte';  
	export let segment;

	export let cache;
	restore(client, EVERYTHING, cache.data);
	setClient(client);
	
</script>

<style>
	main {
		display: grid;
		position: relative;
		max-width: 56em;
		background-color: white;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>
<Nav {segment} />

<main>
	<slot></slot>
</main>