<script context="module">
    export function preload(page, { login }) {
        return { auth: login };
    };
</script>

<script>
  import { goto, stores } from "@sapper/app";
  const { session } = stores();
  
  export let auth;

  let email = "";
  let password = "";

  export let dest = '/';

  async function login(e) {
    if(!e.target.checkValidity()) {
            return;
        } 
        const response = await fetch("/auth/login", {
          method: 'POST',
          headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, password})
        })
        if (response.status === 201) {
          let data = await response.json();
          $session.login = data.login;
          goto(dest);
        }
  }
</script>

<style>
  .login-wrapper {
    max-width: 60vw;
    place-self: center;
  }
  @media all and (max-width: 959px) {
    .login-wrapper {
      max-width: 100vw;
    }
  }
  form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  button > a {
    text-decoration: none;
  }
</style>

<div class="login-wrapper">
  <form
    autocomplete="on"
    on:submit|preventDefault={login}>
    <label for="email">Email</label>
    <input required type="email" id="email" bind:value={email} />
    <label for="password">Password</label>
    <input required type="password" id="password" bind:value={password} />
    <button type="submit" disabled='{!email || !password}' >Login</button>
    <button>
      <a href="register">Sign Up</a>
    </button>
  </form>

</div>
