<script context="module">
  import { getClient } from "svelte-apollo";

  import { gql } from "apollo-boost";

  const GET_ME = gql`
    query Member($id: ID!) {
      user(id: $id) {
        id
        name
        clubs {
          id
          name
        }
        owned_clubs {
          id
          name
        }
        about
      }
    }
  `;

  export async function preload(page, session) {
    const client = getClient();
    if (session.login) {
      console.log(session.login)
      return {
        cache: await client.query({
          query: GET_ME,
          context: {
            headers: { Authorization: `Bearer ${session.login.jwt}` }
          },
          variables: { id: session.login.user.id }
        })
      };
    }
  }
</script>

<script>
  import { setClient, restore, query } from "svelte-apollo";
  import { stores } from "@sapper/app";

  const { session } = stores();

  export let cache;

  const client = getClient();
  // restore(client, GET_ME, cache);
  // setClient(client);

  const me = query(client, {
    query: GET_ME,
    context: { headers: { Authorization: `Bearer ${$session.login.jwt}` } },
    variables: { id: $session.login.user.id }
  });
</script>

<style>

</style>

<svelte:head>
  <title>Your Profile</title>
</svelte:head>

{#await $me}
  loading
{:then response }
  {#if response.data}
  <h1>Your Profile</h1>
    <div class="content">
      {@html response.data.user.about}
    </div>
  {/if}
{/await}
