<script>
  import { onError } from "apollo-link-error";
  import { goto, stores } from "@sapper/app";
  const { session } = stores();

  let email = "";
  let password = "";
  let name = "";
  let bio = ""
  let errors;

  export let onLogin = function(login) {
    console.log(login);
  };

  import { gql } from "apollo-boost";

  import { getClient, mutate } from "svelte-apollo";

  const client = getClient();

  const MUTATION = gql`
    mutation Register($user: UsersPermissionsLoginInput!) {
      register(input: $user) {
        jwt
        user {
          id
        }
      }
    }
  `;

  async function register() {
    try {
      const response = await mutate(client, {
        mutation: MUTATION,
        variables: {
          user: {
            identifier: email,
            password,
            provider: "local"
          }
        }
      });
      if (response.data.login.user) {
        $session.user = response.data.login.user;
        $session.user.token = response.data.login.jwt;
        onLogin(response.data.login);
        goto(`/member/${response.data.login.user.id}/`);
      }
    } catch (e) {
      //e.preventDefault()
      if (
        e.networkError.result.errors[0].extensions.data[0].messages[0].message
      ) {
        errors = [
          e.networkError.result.errors[0].extensions.data[0].messages[0].message
        ];
      }
    }
  }
</script>

<style>
  .login-wrapper {
    max-width: 60vw;
    place-self: center;
  }
  @media all and (max-width: 959px) {
    .login-wrapper {
      max-width: 100vw;
    }
  }
  form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  button > a {
    text-decoration: none;
  }
</style>

<div class="login-wrapper">
  <h2>Sign up to join a club!</h2>
  <form
    autocomplete="on"
    on:submit|preventDefault={register}>
    <label for="name">Name</label>
    <input type="text" id="name" bind:value={name} />
    <label for="email">Email</label>
    <input required type="email" id="email" bind:value={email} />
    <label for="password">Password</label>
    <input required type="password" id="password" bind:value={password} />
    <label for="name">Bio</label>
    <input type="text" id="name" bind:value={bio} />
    {#if errors}
      <ul>
        {#each errors as error}
          <li>{error}</li>
        {/each}
      </ul>
    {/if}
    <button type="submit" disabled='{!email || !password}' >Register</button>
    <button>
      <a href="login">I already have an account</a>
    </button>
  </form>

</div>
