<script>
  import { stores, goto } from "@sapper/app";
  const { session } = stores();

  export let segment;

  async function logout() {
    await fetch('/auth/logout', {
      method: 'POST'
    });
    $session.login = null;
    goto('/');
  }
</script>

<style>
  nav {
    border-bottom: 1px solid rgba(255, 62, 0, 0.1);
    font-weight: 300;
    padding: 0 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid: repeat(1, min-content) / auto-flow dense;
  }

  /* clearfix */
  ul::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    justify-self: center;
    list-style-type: none;
  }

  .selected {
    position: relative;
    display: inline-block;
  }

  .selected::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 2px;
    background-color: rgb(255, 62, 0);
    display: block;
    bottom: -1px;
  }

	li > * {
		padding: 1em 0.5em;
	}
  a {
    text-decoration: none;
    display: block;
  }

  .login {
    align-self: row-reverse;
  }
</style>

<nav>
  <ul>
    <li>
      <a class={segment === 'events' ? 'selected' : ''} href=".">events</a>
    </li>
    <!-- <li>
      <a class={segment === 'about' ? 'selected' : ''} href="about">about</a>
    </li> -->
    <li>
      <a class={segment === 'clubs' ? 'selected' : ''} href="clubs">clubs</a>
    </li>
    <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
    <li>
      <a
        rel="prefetch"
        class={segment === 'blog' ? 'selected' : ''}
        href="blog">
        blog
      </a>
    </li>
    {#if !$session.login}
      <li class="login">
        <a class={segment === 'login' ? 'selected' : ''} href="login">login</a>
      </li>
    {:else}
			{#if $session.login.user }
				<li class="login">
        <a class={segment === 'profile' ? 'selected' : ''} href="profile">profile</a>
      </li>
    	{/if}
      <li class="login">
        <a class={segment === 'logout' ? 'selected' : ''} on:click|preventDefault={logout} href>
          logout
        </a>
      </li>
    {/if}

    

  </ul>
</nav>
